<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Customer Website Homepage</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div align="center">
        <p th:text="${message}">Error Message</p>

        <ul th:each="customerError : ${customerErrorResponse.getErrors()}">
            <li th:text="${customerError.errorMessage}">error</li>
        </ul>

    </div>

</div>
</body>
</html>
